<div class="container-fluid">
  <!-- Header Section -->
  <header class="py-3">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <h1 class="mb-0" style="color: #336699;">Job Portal Website</h1>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <a href="/login" class="button-64" class="button-64 d-flex align-items-center" role="button"><span class="text mx-auto">Login</span></a>
      </div>
    </div>
  </header>

  <!-- Hero Section -->
  <section id="hero" class="py-5 text-center" style="background-color: #f0f0f0;">
    <div class="container">
      <h2 style="color: #008080;">Welcome to our Job Portal</h2>
      <p class="lead" style="color: #555;">If you are a Job Seeker or Company, then this website will absolutely suit you!</p>
      <p class="lead" style="color: #555;">Find your dream job or talented candidates</p>
      <!-- <a href="/register" class="btn btn-lg btn-primary">Get Started</a> -->
      <a href="/register" class="button-64 text-center" role="button"><span class="text">Get Started</span></a>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section id="call-to-action" class="py-5 text-center" style="background-color: #336699;">
    <div class="container">
      <h2 style="color: #fff;">Ready to get hired?</h2>
      <p class="lead" style="color: #fff;">Create your profile and start applying for jobs today!</p>
    </div>
  </section>
</div>
